/* 
Mimic the BY theme
Green to use: #43a047
*/
*{
    font-family: Helvetica;
}
body {
    background-color: rgb(39, 39, 39);
}

.top_banner {
    background-color: #43a047;
    height: 50px;
    color: white;
    text-align: center;
}

.relayBtn {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border-width: 3px;
    border-color: white;
    padding: 6px 12px;
}

button:hover {
    background-color: #43a047;
    height: 50px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 0 12px #43a047;
}

.pdu1Controls h3 {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

div {
    text-align: center;
}
